.autocomplete {
    position: relative;
    display: inline-block;
    width: 100%;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;

    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: #03c04a !important;
    color: #ffffff;
}

.vvjwJb {
color: #003DBF !important;
font-size: 20px !important;
}
.KP7LCb {
    display: none !important;
}
.BmP5tf {
    display: none !important;
}
@media screen and (min-width: 1024px){
body {
        padding-right: 150px !important;
    }
}
@media screen and (min-width: 1500px){
body {
        padding-right: 440px !important;
    }
}
.noHIxc {
    height: 40px !important;
}
