<html>
    <head>
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
        <link rel="search" href="/opensearch.xml" type="application/opensearchdescription+xml" title="Whoogle Search">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="no-referrer">
        <title>Onbibi | Charitable &amp; Family friendly Search Engine - Onbibi</title>
        <meta itemprop="name" content="Onbibi">
        <meta itemprop="description" content="Onbibi Search, a safe family friendly search engine, Onbibi.com.">
        <meta itemprop="image" content="https://onbibi.com/site/assets/img/og-image.png">
        <meta property="og:title" content="Onbibi | Charitable &amp; Family friendly Search Engine">
        <meta property="og:description" content="Onbibi, a safe family friendly search engine, Onbibi.com.">
        <meta property="og:image" content="https://onbibi.com/site/assets/img/og-image.png">
        <meta property="og:url" content="https://onbibi.com/">
        <meta property="og:site_name" content="Onbibi">
        <meta property="og:type" content="website">
        <meta name="description" content="Onbibi Search, a safe family friendly search engine.">
        <meta name="image" content="https://onbibi.com/site/assets/img/og-image.png">
        <script type="text/javascript" src="/static/js/autocomplete.js"></script>
        <link rel="stylesheet" href="/static/css/{{ 'search-dark' if dark_mode else 'search' }}.css">
        <link rel="stylesheet" href="/static/css/header.css">
        <title>{{ query }} - Onbibi Search - Family friendly search engine</title>
    </head>
    <body>
    {{ search_header|safe }}
    {{ response|safe }}
    </body>
    <footer>
        <div id='afscontainer2'></div>
        <p style="color: {{ '#fff' if dark_mode else '#000' }};">
            Onbibi Search v{{ version_number }}  
            <a style="color: green" href="https://onbibi.com">Homepage</a>  
            <a style="color: green" href="https://onbibi.com/install">Make as default search engine</a>
        </p>
    </footer>
</html>
